.canvasContainer {
    position: relative;
}

.editPanel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc((100% + 10px) * -1));
}

.editZoom {
    position: absolute;
    top: 0;
    padding: 15px;
}

.editZoom.left {
    left: 0;
}

.editZoom.right {
    right: 0;
}